
.addProjectForm {


  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 100%;
  margin-bottom: 50px;
}

.row input, .row textarea {
  padding: 20px;
}

.row input::-webkit-input-placeholder, .row textarea::-webkit-input-placeholder {
  font-family: Montserrat;
  font-weight: 600;
  color: #0c5061;
}

.rowOne input {

  height: 50px;
  border:none;
  background-color: white;
  border-radius: 50px;
}

.addProjectDeadline {
  text-align: center;
}

.rowTwo textarea {
  width: 100%;
  border:none;
  background-color: white;
  border-radius: 50px;
  height: 150px;
}

.rowThree textarea {
  width: 100%;
  border:none;
  background-color: white;
  border-radius: 50px;
  height: 100px;

}

.addProjectTitle {
  width: 70%;
}

.submit {

  width: 200px;
  height: 40px;
  background-color: #0c5061;
  border-radius: 20px;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;

}

.users {
  position: absolute;
  right: 0px;
  top: 20px;
  right: 50px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

#selectUserGNewProject, #selectUserJNewProject, #selectUserLNewProject  {
  color: white;
  background-color: #0c5061;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

@media only screen and (max-width: 1100px){

  .header h1 {
    font-size: 20px !important;
    position: relative !important;
    left: 0px !important;
  }

  .addProjectTitle {
    margin-bottom: 20px;
  }

  .rowOne, .rowTwo {
    margin-bottom: 20px;
  }

  .users {
    position: relative;
    bottom: unset;
    margin-top: 20px;
    margin-bottom: 10px;


  }

  #datepicker {
    text-align:left;
  }

  input, textarea {
    box-sizing: border-box;
    width: 100% !important;
  }

  #selectUserGNewProject, #selectUserJNewProject, #selectUserLNewProject {
    width: 40px;
    height: 40px;
    font-size: 10px;
    border-radius: 80px;
  }

  .rowOne {
    display: flex;
    flex-direction:column;
  }

  input, textarea {
    font-size: 12px;
  }

  .submit {
    width: 50vw;
    height: 10vh;
    border-radius: 25vw;
    font-size: 12px;
  }

  .addProjectForm{
    padding: 10px;
  }
}
