.project_section .header {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.project_section .header .top {
  display: flex;
  margin-bottom: 20px;
}

.project_section .header .top h1 {
  position: relative;
  top: 0px;
  left: 0px;
  margin-right: 30px;
}

.project_section .header .top p {
  display : flex;
  align-items: center;
  color : #0AC693;
}

.project_section .header .bottom {
  display: flex;
}

.project_section .header .bottom p {
  margin-right: 30px;
}

.project_section .header .bottom img {
  width: 25px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.shown {
  display: inline;
}

.hiddenColor {
  color: blue;
  cursor:pointer;
}

/**main**/

.main {
  box-sizing: border-box;
  width: 100%;
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

.main .left {
  width: 40vw;
}

.main .right {
  width: 40vw;
}

.main .left .briefing {
  margin-bottom: 50px;
}

.main .left .briefing, .main .left .remarques, .main .right .taches {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  max-height: 400px;
  background-color: white;
  word-wrap: break-word;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;

}

.briefingOuRemarqueP{
  white-space: pre-wrap;
}

 .main .right .taches{
  overflow: scroll;
  overflow-x: hidden;
}






.main .left h2, .main .right h2 {
  position: relative;
  color: #0D4E5E;
  margin-bottom: 10px;
}

.main .left p, .main .left textarea {
  position: relative;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  overflow:scroll;
  height: 200px;
  text-align: justify;
}

.main .left textarea {
  border:none;
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

.buttondiv {
  position: absolute;
  left: 50%;
  bottom: 40px;
}

.buttondiv button {
  width: 200px;
  background-color: green;
  min-height: 50px;
  border-radius: 20px;
  color: white;
  position: relative;
  left: -50%;
}

.changeBriefingOuRemarqueButton{
  position: absolute;
  bottom: -25px;
  right: 0px;
  width: 25px;
  cursor: pointer;
}

.changeStateButtonHidden {
  display:none;
}

.textzoneHidden {
  display:none;
}

.username {
  cursor: pointer;
}

.selectedForTasks{
  color: #68ebff;
  font-style: italic;
}


.addTaskDiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10px;

}

.textareaAddTask{
  width: 90%;
  height: 50px;
  resize: none;
  border:none;
  background-color: lightblue;
  border-radius: 10px;
}

.addTaskButton {
}

#listeTaches{
  padding-bottom: 20px;
}

.taskDiv {
  display: flex;
  justify-content: space-between;
}

.taskDiv p {
  cursor: pointer;
}

.taskDone {
  text-decoration: line-through;
  color: lightgrey;
}
